*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-attachment:fixed;
background-image: url(../../public/ChatGPT\ Image\ 6\ de\ fev.\ de\ 2026\,\ 20_26_49.png);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}