.Header img{
   max-width:180px;
    max-height:80px;
  
    
    
}

.Header{
    width:100%;
    display:flex;
    text-align: center;
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 1px 2px 3px black;
 
}
.Header nav{
    width:100%;
background-color: #ffffff;
padding: 10px 10px;
align-items: center;
justify-content: center;
justify-items: center;
}
.Header a{

    text-decoration: none;
    margin-left: 10px;
    color:black;
    text-shadow: 2px 2px 2px red;

   
}