.containerSection{
  
   background-color: rgb(255,255,255,0.15);
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:15px;
    backdrop-filter: blur(2px);
    border-radius: 5px;
    text-shadow: 1px 1px 1px #ffffff;
    margin:10px 10px;

}
.containerSection h1 {
    text-shadow: 1px 1px 1px #ffffff;
}
.containerSection p{
    text-shadow: 1px 1px 1px #ffffff;
}